/* Wildcard Selector */
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
/* Global styles */

/* header pictures */
.picturebanner{
    height: 175px;
    display: flex;
    flex-direction: row;
}

.banner{
    background-size: cover; 
    width: 425px;
    flex-grow: 1;
}

/* Logo position */
.logo{
    position: absolute;
    width: 100%;
    top: 1rem;
    text-align: center;
}

#bannerone{
    background: url(../../assets/images/banner-bridge.jpeg) center/cover;
}
#bannertwo{
    background: url(../../assets/images/banner-highway.jpeg) center/cover;
}
#bannerthree{
    background: url(../../assets/images/banner-thames.jpeg) center/cover;
}
#bannerfour{
    background: url(../../assets/images/banner-westminster.jpeg) center/cover;
}



/* Footer */
footer{
    position: fixed;
    bottom: 0px;
}